.blog-card-container {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}